llm_stack_cdk/test/*.js
llm_stack_cdk/test/*.d.ts

llm_stack_cdk/bin/*.js
llm_stack_cdk/bin/*.d.ts

llm_stack_cdk/lib/*.js
llm_stack_cdk/lib/*.d.ts

llm_stack_cdk/!jest.config.js
llm_stack_cdk/*.d.ts
llm_stack_cdk/node_modules/

# CDK asset staging directory
llm_stack_cdk/.cdk.staging
llm_stack_cdk/cdk.out
